/* Wrapper */
.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Box */
.login-box {
    background: var(--beige);
    border-radius: 15px;
    overflow: hidden;
}

/* Left Image Area */
.image-area img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Right Form Area */
.form-area {
    background: var(--beige);
    padding: 40px;
}

    .form-area h2 {
        color: var(--brown);
        font-weight: bold;
        margin-bottom: 25px;
    }

/* Inputs */
.form-control {
    background-color: var(--grey);
    border: 2px solid var(--lightBrown);
    border-radius: 10px;
    color: var(--brown);
}

    .form-control:focus {
        border-color: var(--brown);
        box-shadow: 0 0 5px rgba(73, 54, 40, 0.4);
    }

/* Button */
.btn-login {
    background: var(--brown);
    color: white;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

    .btn-login:hover {
        background: var(--lightBrown);
        color: var(--brown);
    }

/* Validation */
.is-invalid {
    border-color: #dc3545 !important;
    background: #fff5f5;
}

.invalid-feedback {
    display: none; /* hidden by default */
}

.is-invalid + .invalid-feedback {
    display: block; /* show when invalid */
}

